@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="heroOverview">
    <table>
        <thead>
        <tr>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Hero Name</td>
            <td>Place of Birth</td>
            <td>Combat Points</td>
        </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
</div>
